html {
    background-color: black;

}

.blog-container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-areas:

        Bungie Gotham Cyberpunk2077;

}

.post-1 {
    grid-area: Bungie;

}

.post-2 {
    grid-area: Gotham;

}

.post-3 {
    grid-area: Cyberpunk2077;

}
